<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
</head>
<body>
    <div id="myDiv">
        <p>Any static HTML can go here.</p>
    </div>

    <script src="../static/script.js" type="text/javascript"></script>
    <script type="text/javascript">
        runJS({
            'k_opt': {{ k_opt|safe }},
            'inertia': {{ inertia|safe }},
            'edges': {{ edges|safe }},
            'nodes': {{ nodes|safe }}
        });
    </script>
</body>
</html>