<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
</head>
<body>
    <div id="myDiv">
        <p>{{ message }}</p>

        <p>{{ contacts }}</p>
        <p>My Contacts:</p>
        <ul>
            {% for contact in contacts %}
            <li>{{ contact }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="../static/script.js" type="text/javascript"></script>
    <script type="text/javascript">
        runJS({
            'x': {{ x|safe }},
            'y': '{{ y|safe }}' // need quotes for strings
        });
    </script>
</body>
</html>